<div class="wrapper">
  <header class="box header">
    <h1>{{ title }}</h1>
  </header>
  <aside class="box sidebar">Sidebar</aside>
  <div class="box content">
    <h2>Content</h2>
    <p>Lorem ipsum dolor amet forage occupy hammock kombucha literally banjo meggings farm-to-table echo park pug lo-fi
      gentrify venmo. Banjo tattooed kogi adaptogen shoreditch. Jianbing normcore tbh, try-hard plaid asymmetrical vinyl
      marfa. Cornhole raw denim distillery sartorial. Hashtag flexitarian bitters banjo intelligentsia thundercats.</p>
    <p>Master cleanse post-ironic man braid af crucifix. Cold-pressed knausgaard tote bag taiyaki, pork belly distillery
      post-ironic vaporware pitchfork hell of. Affogato mumblecore four loko tousled kitsch polaroid ugh, taiyaki etsy.
      Cliche direct trade readymade poutine post-ironic prism pabst tousled cardigan ethical raclette vegan. Franzen
      lomo succulents raw denim lyft brooklyn air plant put a bird on it neutra echo park iPhone photo booth +1 mixtape
      snackwave. Blog meh umami, food truck polaroid air plant etsy.</p>
  </div>
  <footer class="box footer">Footer</footer>
</div>

