<div>
  <mat-slide-toggle
    [checked]="chippedStoneVisibility"
    (change)="chippedStoneVisibilityChange($event)">
    Chipped Stone
  </mat-slide-toggle>
  <mat-slide-toggle
    [checked]="boneVisibility"
    (change)="boneVisibilityChange($event)">
    Bone
  </mat-slide-toggle>
  <mat-slide-toggle
    [checked]="ochreVisibility"
    (change)="ochreVisibilityChange($event)">
    Ochre
  </mat-slide-toggle>
  <mat-slide-toggle
    [checked]="gridVisibility"
    (change)="gridVisibilityChange($event)">
    Grid Lines
  </mat-slide-toggle>
</div>
<canvas #canvas></canvas>
